<div id="notice" class="notice clearfix <%= type %>">
  <p>
    <span class="notice-dot"></span>
    <%= notice %>
  </p>
  <a href="#" id="close-notice" class="close-notice">
    <i class="icon-remove"></i>
    <i class="icon-remove-sign"></i>
    <span class="label">Close notice</span>
  </a>
</div>
