<form id="show-search-form" class="add-show-form clearfix">

  <label for="name">Show Name</label>
  <input type="text" name="name" placeholder="Show name" tabindex="1" />

  <button type="submit">Search</button>

  <div id="search-notice"></div>

</form>
