<div id="shadowbox" class="shadowbox">
  <form id="edit-show-form" class="edit-show-form clearfix">

    <input type="hidden" name="_method" value="put" id="_method" />
    <input type="hidden" name="id" value="<%= id %>" id="id" />

    <label for="name">Display Name</label>
    <input type="text" name="display_name" placeholder="Display name" value="<%= displayName %>" id="display-name" tabindex="1" />

    <label for="name">Search Name</label>
    <input type="text" name="search_name" placeholder="Search name" value="<%= searchName %>" id="search-name" tabindex="1" />

    <label for="name">File Name</label>
    <input type="text" name="file_name" placeholder="File name" value="<%= fileName %>" id="file-name" tabindex="1" />

    <a href="#" rel="nofollow" id="delete-show" class="delete-show">Delete show</a>

    <button type="submit" tabindex="1">Save</button>

  </form>
</div>
