@media all and (max-width: 1120px) {

  body {
    background-position: 50% 0;
  }

  .wrap {
    background: none;
  }

  .episode-list {
    width: 50%;
  }

  .off-air-shows {
    background: #242424;
    border-top: solid 1px #363636;
    clear: both;
    float: none;
    width: auto;
  }

}
