@import "compass";
@import "compass/css3";

/* ---- Mixins ---- */

@mixin gradient($top, $middle, $bottom) {
  background: $middle;
  background: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom));
  background: -webkit-linear-gradient(top, $top, $bottom);
  background: -moz-linear-gradient(top, $top, $bottom);
  background: -o-linear-gradient(top, $top, $bottom);
  background: -ms-linear-gradient(top, $top, $bottom);
  background: linear-gradient(top, $top, $bottom);
}

@mixin gradient-with-image($top, $middle, $bottom, $image) {
  background: $middle $image;
  background: $image, -webkit-gradient(linear, left top, left bottom, from($top), to($bottom));
  background: $image, -webkit-linear-gradient(top, $top, $bottom);
  background: $image, -moz-linear-gradient(top, $top, $bottom);
  background: $image, -o-linear-gradient(top, $top, $bottom);
  background: $image, -ms-linear-gradient(top, $top, $bottom);
  background: $image, linear-gradient(top, $top, $bottom);
}

@mixin shadow($settings) {
  -moz-box-shadow: $settings;
  -webkit-box-shadow: $settings;
  box-shadow: $settings;
}


/* ---- Variables ---- */

$light-gray-1: #f8f8f8;
$light-gray-2: #b4b4b4;
$light-gray-3: #757575;

$dark-gray-1: #191919;
$dark-gray-2: #242424;
$dark-gray-3: #414141;

$primary-color: #5c7fb8;
$secondary-color: #74914F;
$warning-color: #A74444;

$single-border: solid 1px;


/* ---- General ---- */

body {
  background: $dark-gray-2 image-url('bg-border.png') 40% 0 repeat-y;
  color: $light-gray-2;
  font: {
    family: "Helvetica Neue", Arial, sans-serif;
    size: 14px;
  }
  @include transition(background-position 1s ease);

  &.login {
    background: $dark-gray-2;
  }

  &.shadowboxed {
    overflow: hidden;
  }
  width: 100%;
  height: 100%;
}

.wrap {
  background: image-url('bg-border.png') 80% 0 repeat-y;
}

.shadowbox {
  background: rgba(0,0,0,0.6);
  display: none;
  margin: 0;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h2 {
  color: $light-gray-2;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.3em;
}

a {
  color: $primary-color;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: $secondary-color;
    text-decoration: underline;
  }

  &:active {
    -moz-transform: translate(0, 1px);
    -webkit-transform: translate(0, 1px);
    transform: translate(0, 1px);
  }
}


/* ---- Helper Classes ---- */

.clearfix {
  &:before, &:after { content:""; display:table; }
  &:after { clear:both; }
}


/* ---- Shows ---- */

.shows {
  background: image-url('waiting.gif') -9999px -9999px no-repeat; // pre-load
  @include box-sizing(border-box);
  float: left;
  padding: 20px;
}

.episode-list {
  @include transition(width 1s ease);
  width: 40%;
}

.show {
  h3 {
    color: $light-gray-1;
    margin: 10px 0;

    &:hover {
      z-index: 10;
    }

    .name-wrap {
      position: relative;
    }
  }
}

.off-air-shows {
  width: 20%;

  h3 {
    color: $light-gray-2;
    font-size: 1.1em;
    margin: 5px 0;
  }
}

.recent-shows ul,
.upcoming-shows ul,
.all-episodes {
  list-style: none;
  margin: 10px 0;

  li {
    border-radius: 3px;
    padding: 7px;
    position: relative;

    &:hover {
      z-index: 10;
    }

    &.airs-today {
      background: $dark-gray-1;
    }

    span {
      display: block;
    }
  }
}

    .epnum,
    .airdate {
      float: left;
    }

    .airdate,
    .title,
    .file-name {
      padding-left: 20px;
    }

    .airdate,
    .title,
    .file-name {
      padding: {
        top: 3px;
        bottom: 3px;
      }
    }

    .epnum {
      border-radius: 3px;
      color: #FFF;
      padding: 3px 0;
      text-align: center;
      width: 45px;

      .recent-shows & {
        background: $primary-color;
      }

      .upcoming-shows & {
        background: $secondary-color;
      }
    }

    .airdate {
      width: 75px;

      .recent-shows & {
        color: $primary-color;
      }

      .upcoming-shows & {
        color: $secondary-color;
      }
    }

    .title {
      padding-right: 10px;
      margin-left: 140px;
      position: relative;
    }

  .episode-list li,
  .all-episodes li {
    .file-name {
      background: $dark-gray-1;
      background: $dark-gray-2;
      display: none;
      padding-right: 10px;
      position: absolute;
        left: 0;
        top: 0;
      width: 250px;
    }

    .title:hover .file-name {
      display: block;
    }
  }

  .aired {
    opacity: 0.5;
  }

    .far-future .epnum {
      background: $light-gray-3;
    }

    .episode-list .airs-today .file-name {
      background: $dark-gray-1;
    }

    .far-future .airdate,
    .far-future .title,
    .episode-list .far-future .file-name {
      color: $light-gray-3;
    }


/* ---- All Episodes ---- */

.all-episodes {
  background: $dark-gray-1;
  border: $single-border $dark-gray-3;
  border-radius: 3px;
  overflow-y: auto;
  margin: 0;
  padding: 20px;
  position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;

  h3 {
    border-top: $single-border $dark-gray-3;
    margin: 0;
    padding-top: 10px;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }
  }

  ul {
    float: none;
    list-style: none;
    margin: 5px 0;
    padding: 5px 0;
  }

    .epnum {
      background: $light-gray-3;
    }

    .airdate {
      color: $light-gray-3;
    }

    .title .file-name {
      background: $dark-gray-1;
    }
}


/* ---- Options ---- */

.options {
  background: $dark-gray-1;
  border-radius: 3px;
  border: $single-border #000;
  display: none;
  padding: 5px;
  position: absolute;
    top: -10px;
    left: 110%;
  width: 95px;
}

.show h3 {
  &:hover .options {
    display: block;
  }
}

.options {
  a {
    color: $primary-color;
    display: block;
    float: left;
    font-size: 18px;
    margin-left: 10px;
    outline: none;
    text-decoration: none;
    width: 25px;
    height: 25px;

    &:hover,
    &:focus {
      color: $secondary-color;
    }

    &:first-child {
      margin-left: 0;
    }

    i {
      display: block;
      font-size: 1.1em;
      line-height: 1.3;
      text-align: center;
      width: 25px;
      height: 25px;
    }
  }
}

/* ---- Add Show ---- */

a.add-show {
  outline: none;
  overflow: hidden;
  position: absolute;
    top: 5px;
    right: 5px;
  text-decoration: none;
  height: 2em;

  &:before {
    content: '+';
    display: block;
    font: {
      size: 2em;
      weight: bold;
    }
    text-align: right;
    width: 2em;
    height: 2em;
  }

  &:hover:before,
  &:focus:before {
    color: $secondary-color;
  }
}

.add-show-form {
  background: $dark-gray-1;
  border: {
    left: $single-border $dark-gray-3;
    bottom: $single-border $dark-gray-3;
  }
  padding: 20px;
  position: absolute;
    top: 0;
    right: 0;
  width: 300px;
}

.add-show-form {
  label {
    position: absolute;
    left: -9999px;
  }

  input[type=text] {
    background: #000;
    border: $single-border $dark-gray-2;
    border-right: none;
    border-radius: 3px 0 0 3px;
    color: $light-gray-1;
    display: block;
    float: left;
    font-size: .9em;
    height: 20px;
    line-height: 20px;
    outline: none;
    padding: 5px 10px;
    width: 245px;

    &:focus {
      border-color: $primary-color;
    }
  }

  button {
    background: $primary-color;
    border-radius: 0 3px 3px 0;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: block;
    float: left;
    width: 32px;
    height: 32px;

    &:hover,
    &:focus {
      background-color: $secondary-color;
    }

    i {
      display: block;
      font-size: 1.6em;
      line-height: 1.7;
      text-align: center;
      width: 32px;
      height: 32px;
    }

    .label {
      position: absolute;
      left: -9999px;
    }
  }
}

.waiting {
  background: $dark-gray-1 image-url('waiting.gif') 50% 65% no-repeat;
  border-radius: 0 0 0 3px;
  color: $light-gray-2;
  height: 60px;
  text-align: center;

  input,
  button {
    display: none !important;
  }
}

.search-results {
  background: $dark-gray-1;
  border: {
    left: $single-border $dark-gray-3;
    bottom: $single-border $dark-gray-3;
  }
  padding: 20px;
  position: absolute;
    top: 0;
    right: 0;
  width: 300px;

  h3 {
    margin-top: 0;
  }

  .results-show {
    border-top: $single-border $dark-gray-3;
    padding-top: 1px;
    margin: 15px 0;
    position: relative;
  }

    h4 {
      background: $dark-gray-1;
      color: $light-gray-1;
      padding: 10px 0;
    }

    dl {
      font-size: .9em;
    }

      dt {
        font-weight: bold;
        float: left;
        width: 110px;
      }

      dd {
        margin-bottom: 5px;
      }
}

    a.create-show {
      background: $primary-color;
      border-radius: 3px;
      color: #FFF;
      display: block;
      font-size: .7em;
      padding: 6px;
      position: absolute;
        top: 1.33em;
        right: 5px;
      text-decoration: none;

      &:before {
        content: '+ ';
      }

      &:hover,
      &:focus {
        background: $secondary-color;
      }
    }

.no-search-results p {
  margin-bottom: 0;
}


/* ---- Edit Show ---- */

.edit-show-form {
  background: $dark-gray-1;
  border-radius: 3px;
  border: $single-border $dark-gray-3;
  margin-left: -200px;
  padding: 50px;
  position: fixed;
    top: 20%;
    left: 50%;
  width: 300px;
  z-index: 100;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type=text] {
    background: #000;
    border-radius: 3px;
    border: $single-border $dark-gray-2;
    color: $light-gray-1;
    font-size: .9em;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    width: 280px;

    &:focus {
      border-color: $primary-color;
    }
  }

  a.delete-show {
    color: $warning-color;
    margin-left: 15px;
  }

  button {
    background: $primary-color;
    border-radius: 3px;
    border: $single-border $dark-gray-2;
    color: #FFF;
    cursor: pointer;
    display: block;
    float: right;
    font-size: .9em;
    padding: 8px 12px 8px;

    &:hover,
    &:focus {
      background: $secondary-color;
    }
  }
}


/* ---- Notices ---- */

.notice {
  background: $dark-gray-1;
  border-bottom: solid 2px $dark-gray-3;
  color: $light-gray-2;
  padding: 12px 0;
  position: relative;
  width: 100%;
  z-index: 10;

  p {
    margin: 0 10px;
    padding-right: 20px;
  }

    .notice-dot {
      border-radius: 3px;
      display: block;
      float: left;
      margin-right: 10px;
      width: 15px;
      height: 15px;
    }

    a {
      color: $primary-color;
    }
}

.message {
  border-color: $secondary-color;
}

.message .notice-dot {
  background: $secondary-color;
}

.error {
  border-color: $warning-color;
}

.error .notice-dot {
  background: $warning-color;
}

  a.close-notice {
    color: rgba(255,255,255,0.8);
    display: block;
    outline: none;
    position: absolute;
      top: 11px;
      right: 11px;
    text-decoration: none;
    width: 18px;
    height: 18px;

    i {
      display: block;
      font-size: 1.1em;
      line-height: 1.3;
      text-align: center;
      width: 18px;
      height: 18px;

    }

    i.icon-remove-sign {
      display: none;
      font-size: 1.4em;
      line-height: 1;
    }

    &:hover,
    &:focus {
      i.icon-remove {
        display: none;
      }
      i.icon-remove-sign {
        display: block;
      }
    }

    .label {
      position: absolute;
      left: -9999px;
    }
  }


/* ---- Login ---- */

.login-container {
  margin: 0 auto;
  width: 340px;

  h2 {
    margin: 20px 0;
    text-align: center;
  }
}

.new_user {
  background: $dark-gray-1;
  border-radius: 3px;
  border: $single-border $dark-gray-3;
  margin: 10px auto 20px;
  padding: 20px;

  div {
    margin: 8px 0;
  }
}

    .text-input {
      label {
        display: block;
        float: left;
        height: 32px;
        line-height: 32px;
        width: 70px;
        text-align: right;
      }

      input {
        background: #000;
        border: $single-border $dark-gray-2;
        border-radius: 3px;
        color: $light-gray-1;
        display: block;
        float: left;
        height: 22px;
        line-height: 22px;
        margin-left: 10px;
        padding: 5px 10px;
        width: 196px;

        &:focus {
          border-color: $primary-color;
        }
      }
    }

  .checkbox-input {
    padding-left: 80px;

    label {
      margin-left: 3px;
    }
  }

  .submit input {
    background: $primary-color;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    padding: 10px 14px;

    &:hover,
    &:focus {
      background: $secondary-color;
    }
  }
