<script id="notice-template" type="text/template">
	
	<div class="notice clearfix {{= type }}">
		
		<p>{{= notice }}</p>
		
		<p>
			<a href="#" class="close-notice">Close</a>
		</p>
		
	</div>
	
</script>