<script id="search-results-template" type="text/template">
	
	<h3>Results</h3>
	
	<div id="search-results" class="search-results clearfix">
	
		{{ _.each(shows, function (show) { }}
			
			<h4>{{= show.name }}</h4>
			
			<dl>
				
				<dt>Country</dt>
				<dd>{{= show.country }}</dd>
				
				<dt>Started</dt>
				<dd>{{= show.started }}</dd>
			
				<dt>Seasons</dt>
				<dd>{{= show.seasons }}</dd>
			
				<dt>Classification</dt>
				<dd>{{= show.classification }}</dd>
			
			</dl>
			
		{{ }); }}
		
	</div>
	
</script>