<div class="shows off-air-shows">

  <h2>Off Air</h2>

  <% if off_air.any? %>

    <%= render partial: 'shows/show', collection: off_air, locals: { show_episodes: false } %>

  <% else %>

    <p class="none-message">No Off Air Shows</p>

  <% end %>

</div>
