<span class="options">
  <a href="#" class="show-all-episodes" title="Show All Episodes">
    <i class="icon-list-ul"></i>
  </a>
  <a href="#" class="edit-show">
    <i class="icon-edit"></i>
  </a>
  <a href="<%= "http://thepiratebay.se/search/#{show.name}" %>" title="Pirate Bay Search" target="_blank">
    <i class="icon-download-alt"></i>
  </a>
</span>
