<span class="options">
  <a href="#" class="show-all-episodes" title="Show All Episodes">
    <i class="icon-list-ul"></i>
  </a>
  <a href="#" class="edit-show">
    <i class="icon-edit"></i>
  </a>
  <a href="<%= show.download_link %>" title="Search for Download" target="_blank">
    <i class="icon-download-alt"></i>
  </a>
</span>
