<div class="shows recent-shows episode-list">

  <h2>Recent</h2>

  <% if recent.any? %>

    <%= render partial: 'shows/show', collection: recent, locals: { show_episodes: true } %>

  <% else %>

    <p class="none-message">No Recent Shows</p>

  <% end %>

</div>
