<div class="shows upcoming-shows episode-list">

  <h2>Upcoming</h2>

  <% if upcoming.any? %>

    <%= render partial: 'shows/show', collection: upcoming, locals: { show_episodes: true } %>

  <% else %>

    <p class="none-message">No Upcoming Shows</p>

  <% end %>

</div>
