<div class="wrap clearfix">
  <%= render 'recent', recent: @recent %>
  <%= render 'upcoming', upcoming: @upcoming %>
	<%= render 'off_air', off_air: @off_air %>
</div>

<%= link_to('Add Show', new_show_path, id: 'add-show', class: 'add-show') if user_signed_in? %>
